/* ===============================================
Styles for demo site
@copyright congvh
2017/09/30
==================================================*/

/*general part*/

body
{
	background-color: white;
	font-family: Tahoma,Arial,Helvetica,Sans-Serif;
}

.header
{
	background-color: red;
	height: 50px;
}

.footer
{
	background-color: gray;
	height: 50px;
}

.containter 
{
	position: relative;
	background-color: white;
}

.footer span,
.header span
{
	text-align: center;
	width: 100%;
	display: block;
}

.header span 
{
	font-size: 25px;
	font-weight: bold;
}

/*Lession table class*/

.lession_list , .file_list
{
	padding: 30px;
	width: 100%;
	text-align: center;
}
tr,td 
{
	text-align: lef;
	vertical-align: center;
}

.file_list
{
	border: 1px solid black;
	border-collapse: collapse;
}
.error 
{
	color: red;
}
